<% @service_list.each do |s| %>
<div class="col-md-12">
  <div class="page-header">
    <h2>
      <i class="fa fa-flag"></i> <%= s.summary %><br/>
      <small><%= s.name %></small>
    </h2>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr style="background-color:#6F9CB9">
        <th style="color:white">戻り値</th>
        <th style="color:white">メソッドと説明</th>
      <tr>
    </thead>
    <tbody>
    <% s.methods.each do |m| %>
      <tr>
        <td>
          <%= m.returns %>
        </td>
        <td style="width:80%">
          <%= m.name %><br/>
          <%= m.summary %>
          <% if m.params.size == 0 %>
            <br/>
            パラメータ：なし
          <% else %>
            <br/>
            パラメータ：<br/>
            <table class="table table-bordered" style="width:600px;">
              <thead>
                <tr style="background-color:#ededed">
                  <th>型</th>
                  <th>名前</th>
                  <th>説明</th>
                </tr>
              </thead>
              <tbody>
              <% m.params.each do |p| %>
                <tr>
                  <td><%= p.split("::")[0].to_s %></td>
                  <td><%= p.split("::")[1].to_s %></td>
                  <td><%= p.split("::")[2].to_s %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          <% end %>
        </td>
      <tr>
    <% end %>
    </tbody>
  </table>
</div>
<% end %>
