<h1>CalnartX API リファレンス</h1>
<%# form_tag('/generators/execute', :multipart => true) do %>
  <%# file_field_tag 'xml' %>
  <%#= submit_tag 'upload', :class => "btn btn-primary" %>
<%# end %>

<% @service_list.each do |s| %>
<div class="col-md-12">
  <div class="page-header">
    <h2>
      <i class="fa fa-flag"></i> <%= s.summary %><br/>
      <small><%= s.name %></small>
    </h2>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th style="background-color:#efefef">戻り値</th>
        <th style="background-color:#efefef">メソッドと説明</th>
      <tr>
    </thead>
    <tbody>
    <% s.methods.each do |m| %>
      <tr>
        <td>
          <%= m.returns %>
        </td>
        <td style="width:80%">
          <%= m.name %><br/>
          <%= m.summary %>
        </td>
      <tr>
    <% end %>
    </tbody>
  </table>
</div>
  </br>
<% end %>
